*{
  margin : 0px;
  padding : 0px;
  font-family: "NanumSquareRoundBold", sans-serif;
}

.title{
    font-weight: bold;
}

.error{
  font-weight: bold;
  color: red;
  font-size: 15px;
  margin-left: 10px;
  /* display: none; */
}

nav ul{
  list-style: none;
}

a:link, a:visited{
  text-decoration: none;
  color : #94A3B8;
}

a:hover{
  color : black;
}

#locate a{
  color:#2F6FED;
}

header {
  height : 56px;
  width : 100%;
  position: sticky;
  z-index: 11;
  top: 0px;
}

main{
  width : 100%;
  height : 1292px;
  display: flex;
}

#sidebarArea{
  height : 100%;
  width : 18%;
  display: flex;
  justify-content: flex-end;

}

#sidebar{
  margin-top : 29px;
  width: 270px;
  height : 895px;
  border : 1px solid #D9E2F0;
  border-radius: 30px;
  display: flex;
  position: sticky;
  z-index: 10;
  top : 85px;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#F8FBFF,#FDFEFF);
}

#sidebar hr{
  width: 216px;
}

#sidebar div{
  font-size: 40px;
  margin-top : 52px;
  margin-bottom: 30px;;
}

#sidebar nav ul li{
  font-size: 35px;
  margin-top: 52px;
}

#contents{
  height : 100%;
  width : 82%;
  display : flex;
  flex-direction: column;
}

#contentsHeader{
  width : 100%;
  height : 180px;
  display : flex;
  align-items: flex-end;
}

#contentsHeader img{
  margin : 0px 0px 0px 82px;
}

#contentsHeader span{
  margin : 0px 0px 0px 14px;
  font-size : 40px;
}

#contentsMain{
  width : 100%;
  height : 1112px;
}

#mentoringBackground{
  border: 1px solid #D9E2F0;
  height : 1058px;
  width : 1438px;
  margin-top: 27px;
  margin-left: 21px;
  background: linear-gradient(#F8FBFF,#FDFEFF);
  border-radius: 18px;
  display : flex;
  /* justify-content: space-between; */
  flex-direction: column;
}

#mentoringMain{
  display : flex;
  flex-direction: row;
  justify-content: space-between;
}

#mentoringTopics{
  border: 1px solid #D9E2F0;
  border-radius: 18px;
  background: linear-gradient(#FFFFFF,#F8FBFF)
}

#mentoringTopics, #profile{
  margin-top : 37px;
  margin-left : 20px;
}

#mentoringTopics{
  height: 260px;
  width : 862px;
}

#mentoringTopics .subject, #mentoringTopics .title{
  height: 50px;
  display : flex;
  align-items: center;
  margin-left : 20px;
  font-family: 'NanumSquareRoundBold';
}

label[for="mentoringCurriculum"]{
  font-weight: bold;
}

#mentoringTopics div label{
  font-size : 12.2px;
  width : 75px;
}

#mentoringTopics div input[type="text"]{
  width : 285px;
  height : 33px;
  border-radius: 18px;
  border: 1px solid #D9E2F0;
  padding-left: 20px;
}

#mentoringTopics div select{
  width : 285px;
  height : 33px;
  border-radius: 18px;
  border: 1px solid #D9E2F0;
  padding-left: 20px;
  font-size : 12.2px;
}


#mentoringTopics #purpose{
  height : 104px;
  display : flex;
  padding-left : 20px;
  padding-top : 6px;
}

#mentoringTopics textarea{
  width : 600px;
  height : 88px;
  border: 1px solid #D9E2F0;
  border-radius: 18px;
  resize : none;
  padding-left: 20px;
  padding-top : 10px;
}

#curriculum{
  border: 1px solid #D9E2F0;
  border-radius: 18px;
  margin-top : 18px;
  margin-left : 20px;
  padding-top : 20px;
  padding-left:20px;
  display : flex;
  flex-direction: column;
}

#curriculum #text{
  display : flex;
  flex-direction: column;
}

#curriculum #text > div{
  display : flex;
  align-items:center;
}

#curriculum #text textarea{
  margin-top: 20px;
  padding: 20px;
  width : 781px;
  height : 458px;
  border: 1px solid #D9E2F0;
  border-radius: 18px;
  resize : none;
}

#curriculum #file{
  padding-bottom: 20px;
}

#curriculum #file #curriculumFileTitle{
  font-size: 14px;
  padding:20px 0px 10px 0px;
}

#curriculum #file #curriculumFile{
  border: 1px solid black;
  width: 409px;
  padding : 10px;

}

#profile{
  width: 534px;
}

#profile a{
  display: flex;
  margin-right: 184px;
}

#manage{
  font-size: 40px;
  color: black;
}

#profile{
  display : flex;
}

#profile img{
  width: 350px;
  height: 350px;
  /* margin-right: 14px; */
}


#buttons{
  margin-top : 10px;
  height : 35px;
  width : 100%;
  display: flex;
  justify-content: center;
}

#buttons button{
  margin-left : 29px;
  font-size : 15.2px;
  height : 35px;
  width : 100px;
  border-radius: 18px;
  background-color: white;
  border-color: #D9E2F0;
}

#buttons button[type="reset"]{
  color: #475569;
  font-weight: bold;
}

#buttons button[type="submit"]{
  color: #2F6FED;
  font-weight: bold;
}

footer{
  height : 204px;
}